@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(243, 229, 229, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 30%; 
  margin-right: 8%;
}

.imageFadeContainer {
  display: flex; 
  justify-content: center;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
}

.image-container::before {
  transform: skewX(-25deg); 
}

.image-container::after {
  transform: skewX(25deg); 
}

.imageFadeContainer:hover img { 
  transition: transform 0.4s;
  transform: scale(1.1); 
}

.descImage {
  width: 15%;
  margin-right: 9%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  width: 100%; 
  height: auto;
  background-image: linear-gradient(
    90deg,
    rgba(131, 217, 246, 0.42) 0%,
    rgba(209, 195, 195, 0) 100%
  );
  /* background-image: linear-gradient(
    90deg,
    rgba(125, 213, 242, 0.42) 0%,
    rgba(255, 254, 254, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat; */
}

.aboutItem:hover {
  background-image: linear-gradient(
    90deg,
    rgba(82, 198, 237, 0.42) 0%,
    rgba(128, 125, 125, 0) 100%
  );
  transition: 0.4s;
  transform: scale(1.05);
}

.aboutItem h3 {
  font-size: 25px;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {

  .content {
    flex-direction: column;
  }

  .title { 
    margin-bottom: 13px;
  }

  .aboutSectionContainer { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin: 12px 13px;
  }

  .aboutItem {
    padding: 1.2rem; 
  }

  .aboutItemText p { 
    font-size: 1.2rem; 
  }
}

@media screen and (max-width: 300px) {

  .aboutItem { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 75%;
    flex-shrink: 0; 
  }

  .content { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutSectionContainer { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutItems {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 13px;
  }

  .aboutItem {
    padding: 10%; 
  }

  .aboutItemText p { 
    font-size: 1.0rem; 
  }

  .aboutItemText { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .aboutItemText h3  {
    width: 75%; 
    font-size: 1.5rem; 
  } */
}
