@import "../../vars.css";

* { 
  box-sizing: border-box; 
}
.container {
  color: #fff5f5;
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  width: 100%;
  padding: 5% 8%;
  gap: 10px;
}

.contactContainer { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 5%; 
  width: 100%; 
}

.text { 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 1.2rem;
}

.text h2 {
  width: 100%; 
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 3rem; 
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 26px;  
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%; 
}

.link a {
  color: #ded9d9;
  text-decoration: none;
  font-size: 30px;
  font-weight: 460;
  letter-spacing: 1.5px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    overflow-wrap: break-word;
    min-width: 300px;
  }

  .text p { 
    margin-bottom: 8%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .links {
    align-items: center;
  }

  .link a { 
    width: 100%; 
    font-size: 100%;
  }
}
