@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 20%;
  display: grid;
  flex-direction: column; /*Aligns items vertically in a column */
  /* align-items: flex-start; Aligns the icons to the top */
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap; 
  justify-content: left;
  gap: 55px;
  margin-top: 35px; 
  margin-left: -50px; 
  margin-right: 0px; 
}

.skillGroup { 
  flex-direction: column; /*Aligns items vertically in a column */
  /* align-items: flex-start; Aligns the icons to the top */
  grid-template-columns: repeat(2, 1fr);
  justify-content: left;
  gap: 55px; 
  margin-right: 3%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px; 
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  overflow: hidden; 
}

.skillImage {
  width: 100px; 
  height: auto; 
}

.skillImageContainer img {
  justify-content: center;
  align-content: center; 
  max-width: 50%;
  height: auto; 
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experienceContainer { 
  display: flex; 
  flex-direction: row; 
  gap: 0.9rem; 
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #3057a0;
  background: linear-gradient(45deg, #5585dd 0%, rgba(91, 147, 250, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  width: 100%; 
}

.historyUl { 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
}

.historyImg { 
  width: 20%;
  margin-right: 10px; 
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  display: flex; 
  flex-wrap: wrap; 
  font-size: 18px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 22px;
  list-style-type: disc;
  margin-left: 0.7rem;
  margin-right: 0.7rem; 
  display: flex; 
  flex-wrap: wrap; 
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}

@media only screen and (max-width: 640px) { 
  .experienceContainer { 
    display: flex; 
    flex-direction: column; 
  }

  .skillGroup { 
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
  }
}