:root { 
    --color-text: #1f1f1f; 
    --color-primary: #576cbc; 
    --color-secondary: #1d3e77; 
    --color-dark: #0b2447; 
    --color-bg: linear-gradient(#d6e0f4, #9ec2f5); 

    --font-robot: "Roboto"; 
    
}