:root { 
    --color-text: #1b1a1a; 
    --color-primary: #576cbc; 
    --color-secondary: #18376d; 
    --color-dark: #0b2447; 
    --color-bg: linear-gradient(#d6e0f4, #9ec2f5); 

    --font-robot: "Roboto"; 
    
}